.bodymain {position: relative; overflow-x: hidden}
.bodymain {font-family: 'Roboto', sans-serif}


.head {min-height: 100px; margin-bottom: 0; background:url("../images/Group-7.png"); border: none}
.head .navbar-brand {height: 100px; padding: 5px; padding-left: 30px}
.head .navbar-header button {margin-top: 30px}
.head .nav > li > a {line-height: 70px; font-size: 1.2em; color: #fff; padding: 10px 8px}
@media screen and (max-width: 800px) {.head .nav > li > a {padding: 10px 6px}}
@media screen and (max-width: 770px) {.head .nav > li > a {padding: 10px 5px}}
.head .navbar-brand > img {display: inline-block; height: 80px; width: auto}

.head .nav .active .one {background-color: rgba(187,102,74,0.7)}
.head .nav .active .two {background-color: rgba(255,160,0,0.7)}

/*

.head .nav > li .dark {color: #000}
.head .nav > li > a:hover, .head .nav > li > a:focus {text-shadow: 1px 1px rgba(0,0,0,0.3); background: none}
.head .nav .active .one {background-color: rgba(187,102,74,0.7)}
.head .nav .active .two {background-color: rgba(255,160,0,0.7)}

*/

.about {padding-bottom: 70px; padding-top: 70px; display: table; min-height: auto}
.about .alone {display: table-cell; vertical-align: middle}
.about h4 {font-weight: 500; font-size: 20px}
.about h3 {font-weight: bold; margin-top: 5px}
.about .box1 {box-shadow: 0 14px 28px rgba(0,0,0,0.5); min-height: 350px}
.about .box2 {box-shadow: 0 10px 10px rgba(0,0,0,0.5); min-height: 350px}

.about p {padding: 20px; line-height: 1.8}
.about a {text-decoration: none}
.about button {color: #81664A; background: none; border: 4px solid #81664a; font-weight: bold; min-height: 40px; min-width: 180px}

.services {padding-top: 50px; padding-bottom: 50px; display: table; min-height: auto}
.services .alone {display: table-cell; vertical-align: middle}
.services h4 {font-weight: 500; font-size: 20px}
.services h3 {font-weight: bold}
.services .service {padding-top: 20px}
.services .service i {color: #95E1D3; margin-right: 20px}
.services h5 {display:inline-block; font-size: 25px; line-height: 30px}
.services a {text-decoration: none}
.services button {margin-top: 40px; color: #952500; background: none; font-weight: bold; border: 4px solid #952500; min-height: 40px; min-width: 180px}

.lang {background: url("../images/back.png") no-repeat center center scroll; background-size: cover; background-color: #D4D4D4; 
    padding-top: 70px; padding-bottom: 30px}
.lang h4 {font-weight: 500; font-size: 20px}
.lang h3 {font-weight: bold}
.lang .row {margin-top: 30px}
.lang .langleft {background: rgba(255,255,255,0.5); padding-bottom: 50px}
.lang .langleft span {color: #E64C65}
.lang p {margin: 50px 20px 20px}
.lang .langleft ul {list-style-type: disc; font-size: 20px; margin: 20px}

.Industries {padding-top: 70px; padding-bottom: 70px; display: table; min-height: auto}
.Industries .alone {display: table-cell; vertical-align: middle}
.Industries h4 {font-weight: 500; font-size: 20px}
.Industries h3 {font-weight: bold}
.Industries p {margin-top: 90px}

.career {padding-top: 70px; padding-bottom: 60px}
.career h5 {font-weight: 500; font-size: 20px}
.career h3 {font-weight: bold}
.career p {margin-top: 40px; color: #A6A6A6; margin-bottom: 50px}
.career .row img {max-height: 401px}
.career a {font-weight: bold; text-transform: uppercase; font-size: 0.9em}
.career a > i {padding-right: 20px; color: #95E1D3}
.career a > div > i {margin: auto; padding-top: 7px ; color: #777}
.career .text-center button {margin-top: 40px; color: #E54C65; background: none; font-weight: bold; border: 4px solid #E54C65; border-radius: 0px; min-height: 40px; min-width: 180px}
.career .text-center .btn.focus, .career .text-center .btn:focus, .career .text-center .btn:hover {color: #e54c65}

.download {padding-top: 70px; padding-bottom: 70px; display: table; min-height: auto}
.download .alone {display: table-cell; vertical-align: middle}
.download h4 {font-weight: 500; font-size: 20px}
.download h3 {font-weight: bold}
.download .row button {margin-top: 40px; color: #E54C65; background: none; font-weight: bold; border: 4px solid #E54C65; min-width: 180px; min-height: 40px; border-radius: 0px}
.download .row a:hover {text-decoration: none}

.contact {background: url("../images/Group-8.png") no-repeat center center fixed; background-size: cover}
.contact .container {padding-top:70px}
.contact .header h4 {font-weight: 500; font-size: 20px}
.contact .header h3 {font-weight: bold}
.contact .row {margin-top: 50px}
.contact .rightloc {padding: 40px 60px}
.contact .rightloc h4 {font-weight: bold; margin-bottom: 30px}
.contact p {display: inline; font-size: 1.2em}
.contact button {margin-top: 40px; color: #4A6666; background: none; font-weight: bold; border: 4px solid #4A6666; min-width: 180px; min-height: 40px}
.contact button:hover, .contact button:focus {color: #4a6666}
.contact .copy {color:#4A6666; margin-top: 40px; margin-bottom: 40px}
.contact .copy span {font-weight: bold}

#map {height: 400px}

.modal-body * {margin-bottom: 20px}

.up {position: fixed; right: 50px; bottom: 20px; cursor: pointer; display: none}

.success {display: none}
.fail {display: none}
.success, .fail {position: fixed; left: 0; top: 0; width: 100%; height: 100%; font-size: 2em; line-height: 100%; background-color: rgba(255,255,255,0.7)}
.success .above, .fail .above {margin: 0px; width: 50%; position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}

.bodyabout {font-family: "Roboto", sans-serif}
.bodyabout .navbar {min-height: 100px; margin-bottom: 0; background:url("../images/Group-7.png"); border: none}
.bodyabout .navbar-brand {height: 100px; padding: 5px; padding-left: 30px}
.bodyabout .navbar-header button {margin-top: 30px}
.bodyabout .navbar-inverse .navbar-nav > li > a {line-height: 70px; font-size: 1.2em; color: #fff}
@media screen and (max-width: 857px) {.bodyabout .nav > li > a {padding: 10px 7px}}
.bodyabout .navbar-brand > img {display: inline-block; height: 80px; width: auto}

.abocar {padding-top: 30px; padding-bottom: 20px}
.abocar .carousel-inner {min-height: 275px}
.abocar ol li, .abocar ol li .active {border-color: #4396FF}
.abocar ol .active {background-color: #4396FF}
.bodyabout p, .bodyabout .secondary strong, .bodyabout .secondary button {font-size: 18px}
.bodyabout .content {padding-top: 60px; padding-bottom: 40px;}
.bodyabout .item .row img {width:30%; height: auto}
.bodyabout .secondary button {color: #fff; border-radius: 5px; background-color: #7C2A14; opacity: 0.5; border: none; padding: 25px 50px}
.bodyabout .secondary button:hover {cursor: pointer; opacity: 1}

.bodyservices {font-family: "Roboto", sans-serif}
.bodyservices .navbar {min-height: 100px; margin-bottom: 0; background:url("../images/Group-7.png"); border: none}
.bodyservices .navbar-brand {height: 100px; padding: 5px; padding-left: 30px}
.bodyservices .navbar-header button {margin-top: 30px}
.bodyservices .navbar-inverse .navbar-nav > li > a {line-height: 70px; font-size: 1.2em; color: #fff}
@media screen and (max-width: 830px) {.bodyservices .nav > li > a {padding: 10px 7px}}
.bodyservices .navbar-brand > img {display: inline-block; height: 80px; width: auto}

.sercar {padding-top: 30px; padding-bottom: 20px}
.sercar .carousel-inner {min-height: 275px}
.sercar ol li, .sercar ol li .active {border-color: #4396FF}
.sercar ol .active {background-color: #4396FF}
.bodyservices .item .row img {width:30%; height: auto}


.carousel-indicators {bottom:-50px}
.carousel-inner {margin-bottom:50px}